p a {
    color:  lightgreen;
    margin: 20px;
    background-color: blue;
    text-decoration: none;
}

p a:hover {
    background-color: darkorange;
    color:  purple;
}

a {
    margin-top: 10px;
    color: red;
    padding: 7px;
    background-color: orange;
    border-radius: 25px;
    text-decoration: none;
}

a:hover {
    background-color: lightskyblue;
    color: green;
    
}

body {
    background: blue url("images/background.jpg") no-repeat;
}

h1 {
    color: cyan;
}